In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

star = pd.read_excel('datasets/star/star.xlsx')
star.head()

,tmathssk,treadssk,classk,totexpk,sex,freelunk,race,schidkn
0,473,447,small.class,7,girl,no,white,63
1,536,450,small.class,21,girl,no,black,20
2,463,439,regular.with.aide,0,boy,yes,black,19
3,559,448,regular,16,boy,no,white,69
4,489,447,small.class,5,boy,yes,white,79